PUBLIC_SHOPIFY_STORE_DOMAIN=stitch-and-ash.myshopify.com

NUXT_SHOPIFY_NAME="stitch-and-ash"
NUXT_SHOPIFY_CLIENTS_STOREFRONT_API_VERSION="2026-04"
NUXT_SHOPIFY_CLIENTS_STOREFRONT_PUBLIC_ACCESS_TOKEN=""
