SESSION_SECRET=dev-session-secret
PUBLIC_STOREFRONT_API_TOKEN=replace-with-cloudflare-secret
PUBLIC_STORE_DOMAIN=stitch-and-ash.myshopify.com
PUBLIC_STOREFRONT_ID=stitch-and-ash
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=unused
PUBLIC_CUSTOMER_ACCOUNT_API_URL=https://shopify.com
SHOP_ID=stitch-and-ash
