@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@theme {
    --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
    --font-sans: 'JetBrains Mono', monospace;
    --font-serif: 'JetBrains Mono', monospace;
}

@import "./tokens.css";
@import "./global.css";
